<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <span class="navbar-brand">
              <a routerLink="" (click)="changeCurrent('Home')">
                Star Wars
              </a>
          </span>
      </div>
      <ul class="nav navbar-nav">
            <li [ngClass]="{'active':current=='Characters'}" (click)="changeCurrent('Characters')">
                <a routerLink="/characters">
                    Characters
                </a>
            </li>
            <li [ngClass]="{'active':current=='Starships'}" (click)="changeCurrent('Starships')">
                <a routerLink="/starships">
                    Starships
                </a>
            </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
